<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Run" parallel="methods" thread-count="2">
    <test preserve-order="true" name="Parallel Test1" >
        <parameter name="URL" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"></parameter>
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Challenge18Tests.tests.parallelTest">
<!--                <methods>-->
<!--                    <include name="parallelTest1"/>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
<!--    <test preserve-order="true" name="Scroll Till Element Test2" >-->
<!--        <parameter name="URL" value="https://the-internet.herokuapp.com/infinite_scroll"></parameter>-->
<!--        <classes>-->
<!--            <class name="Challenge14Tests.tests.scrollTillElementTest">-->
<!--                <methods>-->
<!--                    <include name="scrollToInfiniteTest2"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>