<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Run">
    <test preserve-order="true" name="Dclick Test 1">
        <parameter name="URL" value="https://demo.guru99.com/test/simple_context_menu.html"></parameter>
        <classes>
            <class name="Challenge4Tests.tests.rClickTest">
                <methods>
                    <include name="rightClickTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>