<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Run">
    <test preserve-order="true" name="New Tabs Test1" >
        <parameter name="URL" value="https://courses.letskodeit.com/practice"></parameter>
        <classes>
            <class name="Challenge10Tests.tests.newTabTest">
                <methods>
                    <include name="newTabTest1"/>
                </methods>
            </class>
        </classes>
    </test>
    <test preserve-order="true" name="New Tabs Test2" >
        <parameter name="URL" value="https://courses.letskodeit.com/practice"></parameter>
        <classes>
            <class name="Challenge10Tests.tests.newTabTest">
                <methods>
                    <include name="newTabTest2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>